{% extends 'main.html' %}

{% block content %}

<h1>Homepage Template</h1>

<div>

    <a href="{% url 'add-car' %}">Add Car</a><BR></BR>
    
    <div>
        {% for car in cars %}
            <div>
                <ul>
                    <li><h3>{{car.id}} {{car.brand}}</h3></li>
                    <ol><h5><a href="{% url 'update-car' car.car_id %}">update</a></h5></ol>
                    <ol><h5><a href="{% url 'delete-car' car.car_id %}">delete</a></h5></ol>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}